body{
  background-color:rgba(255, 235, 205, 0.699)  ;
}
.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem ;
  color: rgb(218, 109, 0);
  max-width: 800px;
  min-height: 500px;
  background-color: blanchedalmond  ;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-wrapper{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.inputbox{
  padding: .8rem 1.5rem ;
  border-radius: .5rem;
  border: none;
  min-width:15px ;
}

input[type="number"]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.selector{
  padding: .5rem;
  border: none;
  border-radius: .5rem;

}

.percentage{
  width: 140px;
  border: none;
}



